table.table-calendar {
	font-size: 0.85rem;

	> thead {
		> tr {
			> th {
				font-weight: normal;
				> a {
					color: $primary;
				}
			}
		}
	}
	> tbody {
		> tr {
			> td {
				padding: 0.25rem 0;

				> a {
					display: inline-block;
					color: $primary;
					padding: 0.1rem 0.5rem;
				}

				&.today {
					> a {
						color: $white;
						background: $dark;
						border-radius: 50%;
					}
				}

				&.current {
					> a {
						color: $white;
						background: $primary;
						border-radius: 50%;
					}
				}
			}
		}
	}
}

table.table-schedule {
	thead,
	tbody {
		> tr {
			> td,
			> th {
				&:not(.appointments) {
					white-space: nowrap;
					width:0.1%;
				}
				.appointments {
					width: 100%;
				}
			}
		}
	}
}